

.container {
    background: var(--container-bg);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--container-shadow);
    max-width: 90%; /* Fit within the viewport */
    width: 100%; /* Responsive width */
    text-align: center;

}

.center-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;    /* Vertically center the content */
    flex-direction: column; /* Stack inputs vertically */
    min-height: 100vh;      /* Full viewport height */
    width: 100%;            /* Full width of the container */
    padding: 0.5rem;          /* Add some padding for mobile screens */
    box-sizing: border-box;
    margin-top: 15%;
}

h2 {
    margin-bottom: 1.5rem;
    color: var(--header-color);
}

form ul li {
    color: var(--header-color);
    margin-left: 5%;
}

label {
    text-align: left;
    color: var(--header-color);
    font-weight: bold;
    margin-bottom: 0.5rem;
    align-self: center;
    width: 100%;
}

.user-email {
    background-color: var(--user-email-bg);
    color: var(--user-email-text);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

input, select {
    width: 100%;             /* Ensure inputs/buttons stretch to container width */
    max-width: 400px;        /* Optional: Limit width for readability */
    margin-bottom: 1rem;     /* Space between form elements */
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--form-input-border);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--container-bg);
    color: var(--body-text);
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: var(--button-disabled, grey);
    cursor: not-allowed;
}

.success-message {
    padding: 20px;
    background-color: var(--success-bg);
    margin-top: -30%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    z-index: 0;
}

.signup-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--btn-bg);
    ;
    color: var(--signup-button-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 50%;
}

.signup-button:disabled {
    background-color: var(--button-disabled, grey);
    cursor: not-allowed;
}

.success-message::before {
    content: '';
    position: absolute;
    top: -8px; /* Adjust to be outside the actual content */
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 12px; /* Match and slightly exaggerate the parent border radius */
    border: 4px solid transparent;
    background: linear-gradient(90deg, transparent, #e2e2e2, #8cbea1, #6ebd8f, transparent);
    background-size: 200% 200%;
    z-index: -1; /* Place the animation behind the text */
    animation: rotate-border 5s linear infinite;
}

@keyframes rotate-border {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input:focus {
    border-color: var(--blue-button-bg, #007bff);
    outline: none;
}

.blue-button {
    padding: 0.75rem;
    background-color: var(--blue-button-bg, #007bff);
    color: var(--blue-button-text, #fff);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.blue-button:hover {
    background-color: var(--blue-button-hover-bg, #e53e3e);
}

.form-section {
    border: 5px solid var(--signup-form-section-border);
    border-radius: 30px;
    padding: 20px;
    background: var(--signup-form-section-bg);
    box-shadow: var(--signupform-section-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}



.bullet-point::before {
    content: "•";
    color: var(--bullet-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.username {
    margin-left: 0%;
    margin-bottom: -30px;
    padding-top: 100px;
}

.email {
    margin-left: 0%;
}

.check-boxes {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    background-color: var(--bg-color);
}

.check-boxes input[type="checkbox"] {
    display: none;
}

.check-boxes label {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.check-boxes label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: var(--checkbox-bg, #ccc);
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.check-boxes label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: var(--bg-color);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.check-boxes input[type="checkbox"]:checked + label::before {
    background-color: var(--checkbox-checked-bg, #ff956b
    );
}

.check-boxes input[type="checkbox"]:checked + label::after {
    transform: translateX(20px);
}

.check-boxes label span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    margin-left: 10px;
}

.opt-in-description {
   color: var(--text-color);
}

.phone-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--phone-input-border);
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
}

.phone-input-wrapper select {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding-right: 0.5em;
    outline: none;
}

.phone-input-wrapper input {
    border: none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
}

.phone-input-wrapper input::placeholder {
    color: #888;
}

.phone-input-wrapper input:focus {
    outline: none;
}

.phone-input-wrapper select:focus {
    outline: none;
}

.visibility-animation {
  margin-right: 30px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    h2 {
        font-size: 1.5rem;
    }

    .country-code {
        width: 50px;
    }
  
    label, .check-boxes label span {
        font-size: 0.875rem;
        padding: 20px;
        margin: 20px;
    }

    button {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .check-boxes label {
        width: auto;
        padding: 0.5rem;
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 1.5rem;
    }

    .country-code {
        width: 50px;
    }
    .visibility-animation {
        margin-left: 10px;
    }
    label, .check-boxes label span {
        font-size: 0.875rem;
        padding: 20px;
        margin: 20px;
    }
    .username {
        margin-left: -5%;
    }
    .email {
        margin-left: -5%;
    }

    button {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .check-boxes label {
        width: auto;
        padding: 0.5rem;
    }
}

.accept-toggle-wrapper {
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 2vw;
    background-color:var(--bg-color);
}

.signup-form-paragraph {
    margin: 10% 5%;
}
.p-t-link {
    color: var(--body-text);
    background-color: #ff956b
    ;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;

}