/* Custom AOS styles */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition-property: opacity, transform;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}


