.cart-container {
  padding: 20px;
  
  margin-top: 10%;
  
  font-size: x-large;
  background-color: #00000032;
  width: 90vw;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  
  
}

.h2 {
  font-size: x-large;
  
}

.cart-item {
  background-color: #f9f9f942;
  border-radius: 8px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 200px;
}

.cart-item-details {
  padding: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: rgba(183, 183, 183, 0.081);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.cart-item h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.cart-item p {
  margin: 5px 0;
}

.cart-item-remove {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-remove:hover {
  background-color: #e60000;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20%;
}

.checkout-button:hover {
  background-color: #45a049;
}

.image-container img {
  max-width: 100px;
  max-height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


