.collage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 2;
}

.collage-item {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: transform 1.5s ease-in-out, z-index 0.5s ease-in-out;
}


.parallax-image {
  position: absolute;
  transition: transform 0.5s ease-out;
  width: 140px; /* Slightly reduced size */
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
}

.parallax-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.9;
}
