/* General Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 2%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Top Section */
.navbar-top {
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar Title */
.navbar-title {
  color: var(--navbar-text);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  border-radius: 10px;
  background-color: var(--hero-bg-overlay);
}

/* Hamburger Menu (Mobile) */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 35px;
  cursor: pointer;
  z-index: 1100;
}
.hamburger-menu .bar1,
.hamburger-menu .bar2,
.hamburger-menu .bar3 {
  width: 100%;
  height: 5px;
  background-color: var(--hamburger-bar);
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.hamburger-menu.open .bar1 {
  transform: rotate(45deg) translate(6px, 11px);
}
.hamburger-menu.open .bar2 {
  opacity: 0;
}
.hamburger-menu.open .bar3 {
  transform: rotate(-45deg) translate(5px, -10px);
}

/* Auth Buttons Container (Desktop) */
.navbar-auth-buttons {
  display: flex;
  gap: 10px;
  z-index: 1000;
}

/* Desktop nav list */
.nav-list.desktop {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  
}
.nav-list.desktop .nav-item {
  margin: 0 2vw;
}
.nav-list.desktop .nav-item a {
  text-decoration: none;
  color: var(--navbar-text);
  padding: 1vw;
  font-size: 1.5vw;
}
.nav-list.desktop .nav-item a:hover {
  background-color: var(--navbar-hover);
  border-radius: 10px;
}
.nav-item-tiny-desk {
  margin: 10px;
  font-size: .7rem;
  bottom: 0;
  padding: 5px;
  
  border-radius: 10px;
  background-color: var(--hero-bg-overlay);
  /* Additional styling for mobile items */
}



/* Mobile nav overlay */
.nav-list.mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--nav-list-bg);
  margin: 0;
  padding: 0;
  display: none; /* Hidden by default */
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.nav-list.mobile.show {
  display: flex;
  z-index: 1;
}

/* Mobile nav item styling */
.nav-list.mobile .nav-item {
  margin: 10px 0;
  /* Additional styling for mobile items */
}
.nav-list.mobile .nav-item-tiny {
  margin: 10px 0;
  font-size: .7rem;
  bottom: 0;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--hero-bg-overlay);
  /* Additional styling for mobile items */
}
.nav-list.mobile .nav-item a {
  color: var(--navbar-text);
  text-decoration: none;
  padding: 8px 12px;
  font-size: 2rem;
  transition: background-color 0.3s;
}
.nav-list.mobile .nav-item a:hover {
  background-color: var(--button-bg);
  border-bottom: 5px solid var(--navbar-text);
  border-radius: 0px;
}

/* Social Links (Mobile) */
.social-links-nav {
  z-index: 1000;
  transform: translateY(50px);
  transition: transform 0.3s ease;
}

/* Desktop adjustments */
@media (min-width: 1000px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 1%;
  }
  
  .navbar-top {
    width: 100%;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-item-tiny {
    margin: 10px 0;
    font-size: .7rem;
    bottom: 0;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--hero-bg-overlay);
    /* Additional styling for mobile items */
  }
}

